= simple_form_for project, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification
  = f.input :name
  = f.input :repository, :hint => "Only the <code>owner/repository</code> part of the github url is needed."
  = f.button :submit
