.row
  - if test_run.passed?
    .alert.alert-success
      %h4.alert-heading
        Your test passed!
        %i.icon.icon-thumbs-up
      You must be pretty awesome.
  - else
    .alert.alert-error
      %h4.alert-heading
        Your test failed
        %i.icon.icon-thumbs-down
      That means you still have a job!


.row-fluid
  .span6
    - suite = test_run.suite
    - project = suite.project

    %h2 #{project.name}: #{suite.name}
    %dl.dl-horizontal
      %dt Ran At
      %dd= test_run.ran_at

      %dt Passed
      %dd= test_run.passed

  .span6
    %h2 Raw Output
    %pre= test_run.raw_output
